# IDE
.vscode/
.idea/

# Files
*.tgz
*.old
*.xmind

# Terraform
test_tf/
.terraform/
*.tfstate
terraform.tfstate.backup

# VKPR
charts/vkpr/DO-velero-keys
charts/vkpr/crds/cert-manager.yaml
charts/vkpr/Chart.lock

# Examples
examples/velero-aws/notes
examples/velero-aws/credentials-velero
examples/nginx-velero-example.yaml
examples/velero-aws/nginx-velero-example.yaml

# Others
ark-plugin-digitalocean/
velero-policy.json
kubeconfig
node_modules/
.docusaurus/
build/
